.LandingPage {
  &__bg {
    background-color: rgba(238, 135, 159, 0.63);
    width: 100%;
    height: 100%;
  }
  &__logo-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__logo-bg {
    position: absolute;
    z-index: -1;
    width: 300px;
  }
  &__logo {
    position: absolute;
    width: 300px;
  }
  &__logo:hover {
    -webkit-transform: scale(1.1);
  }
}
